@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #131111;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #110505;
  }
} */

body {
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
  /* padding: 1rem; */
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
